<!DOCTYPE html>
<html>
  <head>
    <title>Meadowlark Travel</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
